# Concatenated players averages from 1996-2016

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

plt.style.use('fivethirtyeight')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [14]:
# f = '/Users/amos/Desktop/DSI-SF-2-amoskim25/copy_capstone/datasets/game_logs_1946-2016/game_logs%s.csv'
# data = []

# for z in years:
#     df = pd.read_csv(f % z)
#     data.append(df)
# df_gamelogs = pd.concat(data)
df_concat = pd.concat([df_1996, df_1997])
df_concat.head()

,Unnamed: 0,Unnamed: 0.1,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,...,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3,CFID,CFPARAMS,SEASON
0,0,0,471,NaN,NaN,NaN,NaN,41,13,28,...,0.4,1.5,0.0,3.4,-2.5,0,0,5,"471,",1996
1,1,1,920,A.C. Green,1.610613e+09,DAL,33.0,83,23,60,...,0.5,1.7,0.0,7.2,-4.2,16,0,5,"920,1610612742",1996
2,2,2,243,Aaron McKie,1.610613e+09,DET,24.0,83,48,35,...,0.4,1.5,0.0,5.2,1.6,1,0,5,"243,1610612765",1996
3,3,3,1425,Aaron Williams,1.610613e+09,VAN,25.0,33,4,29,...,0.2,2.0,0.0,6.2,-3.2,0,0,5,"1425,1610612763",1996
4,4,4,768,Acie Earl,1.610613e+09,MIL,27.0,47,14,33,...,0.2,1.3,0.0,4.0,-1.3,0,0,5,"768,1610612749",1996

In [15]:
print df_concat.shape
print df_1996.shape
print df_1997.shape
df_concat.columns

(880, 38)
(441, 38)
(439, 38)

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'PLAYER_ID', u'PLAYER_NAME',
       u'TEAM_ID', u'TEAM_ABBREVIATION', u'AGE', u'GP', u'W', u'L', u'W_PCT',
       u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A', u'FG3_PCT', u'FTM',
       u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST', u'TOV', u'STL',
       u'BLK', u'BLKA', u'PF', u'PFD', u'PTS', u'PLUS_MINUS', u'DD2', u'TD3',
       u'CFID', u'CFPARAMS', u'SEASON'],
      dtype='object')

In [2]:
years = [str(i)+'-'+str(i+1)[-2:] for i in range(1996,2016)]

In [3]:
all_df = []
for year in years:
    avg_file = '../datasets/player_avgs/player_average_%s.csv' % year
    df = pd.read_csv(avg_file)
    all_df.append(df)

all_average_df = pd.concat(all_df)

In [5]:
all_average_df.shape

(9077, 38)

In [4]:
all_average_df.head()

,Unnamed: 0,Unnamed: 0.1,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,...,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3,CFID,CFPARAMS,SEASON
0,0,0,471,NaN,NaN,NaN,NaN,41,13,28,...,0.4,1.5,0.0,3.4,-2.5,0,0,5,"471,",1996
1,1,1,920,A.C. Green,1.610613e+09,DAL,33.0,83,23,60,...,0.5,1.7,0.0,7.2,-4.2,16,0,5,"920,1610612742",1996
2,2,2,243,Aaron McKie,1.610613e+09,DET,24.0,83,48,35,...,0.4,1.5,0.0,5.2,1.6,1,0,5,"243,1610612765",1996
3,3,3,1425,Aaron Williams,1.610613e+09,VAN,25.0,33,4,29,...,0.2,2.0,0.0,6.2,-3.2,0,0,5,"1425,1610612763",1996
4,4,4,768,Acie Earl,1.610613e+09,MIL,27.0,47,14,33,...,0.2,1.3,0.0,4.0,-1.3,0,0,5,"768,1610612749",1996

In [28]:
# for i in range(1996,2016):
#     print i
#     print all_average_df[all_average_df.SEASON == i].shape
#     print "==========="